html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}


.paragrath {
    color: darkblue;
    padding-left: 16px;
}
.paragrath::before{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: yellow;
    display:block
}

.paragrath::after{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: blue;
    display: block;
}

body {
    background: rgb(19, 17, 17);
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(0,0,0,0.42667489359024857) 36%, rgba(145,145,145,0.8076272745426296) 100%);
    padding: 0;
    margin: 0;
}

.secondheader {
    color: #0a325a;
}

.mainheader {
    color: #0e0e8a;
    font-size: 32px;
}
.mainheader--red{
    color:darkred;
}

.thirdheader {
    color: #101085;
}
.sekcja{
    margin-top: 90px;
}

.diaryheader {
    color: #0c0c79;
}
.link {
    text-decoration: none;
    color: green;
}

.link:visited{
    color:green;
}
.link:hover{
    color: red;
}

.navigation{
    box-sizing: border-box;
    padding: 16px; 
    padding-left: 0;
    text-align: center;
}
.main{
    width: 60%;
    margin-left:auto;
    margin-right: auto;
}
.box,.box2{
    background: #0a325a;
    height: 150px;
    width: 150px;
    margin: 50px auto;
    border: 3px solid  yellow;
    padding: 10px;
    box-sizing: content-box;
}
.box{
    position: fixed;
    top:90px;
    left: 55%;
    z-index: 2;
}
.box:hover
{
    border-radius: 50%;
    z-index: 1;
}
.box2{
    background: #11e909;
    border: 3px solid  rgb(80, 40, 58);;
    box-sizing: border-box;
    position: fixed;
    top:110px;
    left: 50%;
    z-index: 1;
}
.nawigacja{
    text-align: left;
    margin-top:25px;
    position: sticky;
    top:5px;
}
.nawigacja__lista{
    display:flex;
    list-style-type: none;
    justify-content:center;
    margin-left:0;
    padding-left: 0;
    padding:0 20px 0 20px;
}
.nawigacja__lista--element{
    flex-grow: 1;
    text-align: center;
    border: 1px solid blue;
    background: #11e909;
    padding:15px;
    margin: 2px;
    border-radius: 5px;
}
.nawigacja__lista--element:hover{
    background-color: darkgreen;
}
.odnosniki{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}
.footer{
    text-align: center;
}
.grid--diary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:48px;
    grid-row-gap:16px;
}
.navigation__swicher{
    font-size: 36px;
    visibility: hidden ;
}

@media screen and (min-width:1024px) and (max-width:1800px){
    .grid--diary{
        grid-template-columns:1fr 1fr 1fr;
    }
    .main{
        width: 80%;
    }

}
@media screen and (max-width:624px){
    .grid--diary{
        grid-template-columns:1fr;
    }
   
    .nawigacja__lista{
        flex-direction: column;
        width: 60%;
        justify-content: center;
        padding: 0;
        display: none;
    }
    .nawigacja__lista--modyfikacja{
        display: flex;
    }
    .nawigacja__lista--element{
        padding:5px;
    }
    .navigation__swicher{
        visibility: visible;
        border: none;
        background: none;
        justify-content: flex-start;
        margin-left: 10px;
        margin-top: 5px;
        box-decoration-break: none;
    }
    .navigation__swicher:hover{
        background-color: gray;
        border-radius: 50px;
    }
    .flex{
        display: flex;
        justify-content: center;
    }

}
@media screen and (min-width:1200px){
    .grid--diary{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }

}
